<p>The Authoritative dropzone.</p>

<div class="container_row">
	<ngx-dropzone id="target-dropzone" (change)="onTargetSelect($event)">
		<ngx-dropzone-label>Drop target files here.</ngx-dropzone-label>
		<ngx-dropzone-preview *ngFor="let f of targetFiles" [removable]="true" (removed)="onTargetRemove(f)">
			<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
		</ngx-dropzone-preview>
	</ngx-dropzone>

	<ngx-dropzone id="auth-dropzone" (change)="onAuthSelect($event)">
		<ngx-dropzone-label>Drop authoritative files here.</ngx-dropzone-label>
		<ngx-dropzone-preview *ngFor="let f of authFiles" [removable]="true" (removed)="onAuthRemove(f)">
		  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
	  </ngx-dropzone-preview>
  </ngx-dropzone>

</div>